.col1 {
  padding-top: 20px;
}

.list-group {
  margin-top: 5px;
  width: 50%;
}

.card {
  padding: 0;
}

.query-card{
  min-height: 500px;
}

.card h2 {
  display: block;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  margin: 0;
  min-height: 60px;
  width: 100%;
  cursor: pointer;
    &:hover {
      color: white
    }
}

p {
  color: white;
}
.genres {
  margin: 0;
  background-color: rgba(0,0,0,0.5);
  padding-left: 10px;
}
